<a href="https://colab.research.google.com/github/pearl-yu/mist5400fall2025/blob/main/assignments/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Save this notebook to your Google Drive first!

# Assignment 1

*MIST 5400 Fall 2025. *

This assignment has two parts.


*   The goal of the first part is to practice our technical prompting skills.
*   The goal of the second part is to practice business understanding for developing AI systems, and start to think of use cases of AI in businesses.


**Download the notebook as .ipynb file and upload to Assignment -> Assignment 1 in eLC.**

## Part I: Practicing Model Fitting with the help of Gemini


We've used the same dataset in week 1 in the Code_with_AI notebook.


It contains a number of variables for 777 different universities and colleges in the US. The variables are:

- Private : Public/private indicator
- Apps : Number of applications received
- Accept : Number of applicants accepted
- Enroll : Number of new students enrolled
- Top10perc : New students from top 10 % of high school class
- Top25perc : New students from top 25 % of high school class
- F. Undergrad : Number of full-time undergraduates
- P.Undergrad : Number of part-time undergraduates
- Outstate : Out-of-state tuition
- Room.Board : Room and board costs
- Books : Estimated book costs
- Personal : Estimated personal spending
- PhD : Percent of faculty with Ph.D.s
- Terminal : Percent of faculty with terminal degree
- S.F.Ratio : Student/faculty ratio
- perc.alumni : Percent of alumni who donate
- Expend : Instructional expenditure per student
- Grad.Rate : Graduation rate


Let's practice to build a model to predict the graduation rate.

In [ ]:
#start by importing packages

import numpy as np # arithmetic and algebra
import pandas as pd  # data manipulation
import sklearn as sk # machine learning and predictive models
import matplotlib.pyplot as plt # data plotting
import seaborn as sns # advanced visualization

In [ ]:
# Download the dataset directly from Kaggle API and import the dataset

import kagglehub

path = kagglehub.dataset_download("yashgpt/us-college-data")

college = pd.read_csv(path +'/College_Data.csv')

college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

### 1. Write the prompt and code to plot the distribution of graduation rate

### 2. Split the dataset into a training and testing set.

### 3. Define a linear regression model and the features you'd like to use, and train it on the training set.

### 4. Make predictions on the training and testing set. Ask for the MSE and compare. Is there overfitting?

## Part II: AI in Business

Just type your answers into the text cells.

### 1. Find an article describing a business problem where an AI system was build to help. Paste the link in the cell below.

### 2. Why did the company think an AI system could help?

### 3. What considerations were there when developing the AI system about the users of the sysem?

### 4. Did the article mention anything about the data they have for training? What data did they have?